<div class="game" ng-hide="game.ended">
  <div class="question">
    <div class="question-border">
      <div class="question-inner">
        <span>{{game.question}}</span>
      </div>
    </div>
  </div>
  <div class="answers">
    <div ng-repeat="choice in game.choices" class="answer ng-class:{'text-muted': game.wrongChoices[$index]}">
      <div class="answer-border">
        <div class="answer-inner" ng-click="game.choose($index)">
          <span>{{choice}}</span>
        </div>
      </div>
    </div>
  </div>
</div>      
<div class="container" ng-show="game.ended">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Score</h2>
      <p class="lead">You scored {{game.score}} out of {{3 * game.numRounds}}.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary btn-block btn-lg" ng-click="game.begin()">Play again!</button>
      <button type="button" class="btn btn-default btn-block btn-lg" ng-click="mainMenu()">Return to menu <span class="glyphicon glyphicon-home"></span></button>
    </div>
  </div>
</div>
