<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1>Learn Kana</h1>
      <p>Welcome to the learn kana webapp.</p>
      <p><a href="/about/" target="_self" class="btn btn-success btn-lg">Learn more</a></p>
    </div>
  </div>
  <button type="button" class="btn btn-default btn-block btn-lg" ng-click="changeSettings()">Change settings <span class="glyphicon glyphicon-cog"></span></button>
  <button type="button" class="btn btn-primary btn-block btn-lg" ng-click="startGame()">Lets play!</button>
  <h4 class="text-center">Site developed by <a href="http://davidtsadler.com/" target="_blank" title="Link to the site's developer.">David T. Sadler.</a></h4>
  <h6 class="text-center">Code available on <a href="https://github.com/davidtsadler/learnkana" target="_blank" title="Link to sites's GitHub repository">GitHub</a></h6>
</div>
