<div class="wrap">
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/#/">Learn Kana</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/#/">Home</a></li>
          <li class="active"><a href="/#settings">Settings</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="page-header">
      <h1>Settings</h1>
    </div>
    <div class="form-group">
      <label for="num-rounds">Number of rounds</label>
      <select id="num-rounds" class="form-control" ng-model="settings.numRounds" ng-options="option for option in roundOptions"></select>
    </div>
    <div class="form-group">
      <label for="show-katakana">Hiragana or Katakana</label>
      <select id="show-katakana" class="form-control" ng-model="settings.showKatakana" ng-options="option.value as option.text for option in showKatakanaOptions"></select>
    </div>
    <div class="form-group">
      <label>Kana to learn</label>
      <table class="table">
        <tbody>
          <tr ng-repeat="kanaSet in kana">
            <td>
              <input type="checkbox" ng-model="settings.includeKana[$index]"/>
            </td>
            <td ng-repeat="chars in kanaSet">
              <span class="romaji">{{chars[0]}}</span>
              <span class="hiragana" ng-hide="settings.showKatakana">{{chars[1]}}</span>
              <span class="katakana" ng-show="settings.showKatakana">{{chars[2]}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <a type="button" class="btn btn-primary btn-block btn-lg" href="/#/">Done</a>
  </div>
</div>
