<h1 class="text-center">Settings</h1>
<div class="form-group">
  <label for="num-rounds">Number of rounds</label>
  <select id="num-rounds" class="form-control" ng-model="settings.numRounds" ng-options="option for option in roundOptions"></select>
</div>
<div class="form-group">
  <label for="show-katakana">Hiragana or Katakana</label>
  <select id="show-katakana" class="form-control" ng-model="settings.showKatakana" ng-options="option.value as option.text for option in showKatakanaOptions"></select>
</div>
<div class="form-group">
  <label>Kana to learn</label>
  <table class="table">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="kanaSet in kana">
        <td>
          <input type="checkbox" ng-model="settings.includeKana[$index]"/>
        </td>
        <td ng-repeat="chars in kanaSet">
          <span class="romaji">{{chars[0]}}</span>
          <span class="hiragana" ng-hide="settings.showKatakana">{{chars[1]}}</span>
          <span class="katakana" ng-show="settings.showKatakana">{{chars[2]}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<button type="button" class="btn btn-primary btn-block btn-lg" ng-click="done()">Done</button>
